# NOTE: If you edit environment variables in .env, you must manually restart the server as env vars are loaded once at startup.

# Groq API Key — https://console.groq.com/keys
GROQ_API_KEY=your_groq_api_key_here

# VirusTotal API Key — https://www.virustotal.com/gui/my-apikey
VIRUSTOTAL_API_KEY=your_virustotal_api_key_here

# AbuseIPDB API Key — https://www.abuseipdb.com/account/api
ABUSEIPDB_API_KEY=your_abuseipdb_api_key_here
